<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>$anchorScroll</title>
		<style type="text/css">
			.anchor {
				height: 500px;
				border: 4px dashed red;
				margin-bottom: 20px;
				background-color: yellow;
			}
			a {
				margin-right: 30px;
			}
			#top div:last-of-type {
				margin-bottom: 200px;
			}
		</style>
	</head>
	<body>
		<div id="top" ng-controller="AnchorController">
			<a href="" ng-click="gotoAnchor(x)" ng-repeat="x in [1,2,3,4,5]">
				Go to Anchor{{x}}
			</a>
			<div id="anchor{{x}}" class="anchor" ng-repeat="x in [1,2,3,4,5]">
				Anchor {{x}} of 5
				<a href="" ng-click="gotoTop()">go back to top</a>
			</div>
		</div>
		<script type="text/javascript" src="./js/angular.min.js"></script>
		<script type="text/javascript" src="./js/script.js"></script>
	</body>
</html>
